In [ ]:
from google.colab import files
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
uploaded = files.upload()

Saving vehicles .csv to vehicles .csv

In [ ]:
import io
data = pd.read_csv('/content/vehicles .csv')
print(data)

              id  ...       long
0     7307730503  ... -85.326357
1     7307218858  ... -85.480000
2     7307164168  ... -85.480000
3     7307164193  ... -85.480000
4     7307142186  ... -85.480000
...          ...  ...        ...
4006  7293159321  ... -85.243200
4007  7293158823  ... -85.243200
4008  7293151142  ...        NaN
4009  7293134588  ... -86.980000
4010  7293109125  ... -86.817617

[4011 rows x 25 columns]

In [ ]:
data.isna().sum()

id                 0
url                0
region             0
region_url         0
price              0
year              38
manufacturer     237
model             34
condition       1672
cylinders       1722
fuel              87
odometer           8
title_status     148
transmission       2
VIN             1297
drive           1355
size            3184
type            1029
paint_color      977
image_url          0
description        0
county          4011
state              0
lat               44
long              44
dtype: int64

In [ ]:
# checking the distribution of categorical data
print(data.fuel.value_counts())
print(data.title_status.value_counts())
print(data.transmission.value_counts())

gas         3188
other        386
diesel       273
hybrid        45
electric      32
Name: fuel, dtype: int64
clean         3724
rebuilt        105
lien            17
missing          9
salvage          7
parts only       1
Name: title_status, dtype: int64
automatic    2893
other         916
manual        200
Name: transmission, dtype: int64

In [ ]:
# encoding "fuel" Column
data.replace({'fuel':{'gas':0,'diesel':1,'hybrid':2,'electric':3}},inplace=True)

# encoding "title_status" Column
data.replace({'title_status':{'clean':0,'rebuilt':1}},inplace=True)

# encoding "transmission" Column
data.replace({'transmission':{'Manual':0,'Automatic':1}},inplace=True)

In [ ]:
data.head()

           id  ...       long
0  7307730503  ... -85.326357
1  7307218858  ... -85.480000
2  7307164168  ... -85.480000
3  7307164193  ... -85.480000
4  7307142186  ... -85.480000

[5 rows x 25 columns]

In [ ]:
X = data.drop(['id','url','region','region_url','model','manufacturer'],axis=1)
Y = data['price']

In [ ]:
print(X,Y)

      price    year  condition    cylinders  ... county  state        lat       long
0      9500  2003.0  excellent  6 cylinders  ...    NaN     al  32.614209 -85.326357
1     28990  2018.0       good  6 cylinders  ...    NaN     al  32.590000 -85.480000
2     16590  2013.0       good          NaN  ...    NaN     al  32.590000 -85.480000
3     28990  2017.0       good  6 cylinders  ...    NaN     al  32.590000 -85.480000
4     20590  2017.0       good          NaN  ...    NaN     al  32.590000 -85.480000
...     ...     ...        ...          ...  ...    ...    ...        ...        ...
4006  36995  2012.0        NaN          NaN  ...    NaN     al  34.950600 -85.243200
4007  16995  2018.0        NaN          NaN  ...    NaN     al  34.950600 -85.243200
4008  21500  2019.0        new  4 cylinders  ...    NaN     al        NaN        NaN
4009  11590  2016.0       good          NaN  ...    NaN     al  34.570000 -86.980000
4010  36900  2017.0        NaN  4 cylinders  ...    NaN     al  33.669601 -86.817617

[4011 rows x 19 columns] 0        9500
1       28990
2       16590
3       28990
4       20590
        ...
4006    36995
4007    16995
4008    21500
4009    11590
4010    36900
Name: price, Length: 4011, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state=2)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4011 entries, 0 to 4010
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4011 non-null   int64
 1   url           4011 non-null   object
 2   region        4011 non-null   object
 3   region_url    4011 non-null   object
 4   price         4011 non-null   int64
 5   year          3973 non-null   float64
 6   manufacturer  3774 non-null   object
 7   model         3977 non-null   object
 8   condition     2339 non-null   object
 9   cylinders     2289 non-null   object
 10  fuel          3924 non-null   object
 11  odometer      4003 non-null   float64
 12  title_status  3863 non-null   object
 13  transmission  4009 non-null   object
 14  VIN           2714 non-null   object
 15  drive         2656 non-null   object
 16  size          827 non-null    object
 17  type          2982 non-null   object
 18  paint_color   3034 non-null   object
 19  image_url     4011 non-null   object
 20  description   4011 non-null   object
 21  county        0 non-null      float64
 22  state         4011 non-null   object
 23  lat           3967 non-null   float64
 24  long          3967 non-null   float64
dtypes: float64(5), int64(2), object(18)
memory usage: 783.5+ KB

In [ ]:
# loading the linear regression model
lin_reg_model = LinearRegression()

In [ ]:
def cat_encode(data, method, col, prefix):
    if (method == 1):   #label (simple) encoding
        le = preprocessing.LabelEncoder()
        data[col]= le.fit_transform(data[col].astype(str))
    elif (method == 2): #one-hot encoding
        dummies_data  = pd.get_dummies(data[col].astype(str), prefix=prefix)        
        data = data.join(dummies_data)
    
    return data_df

In [ ]:
data = data.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
data["condition"] = data['condition'].str.replace(' ', '').astype(float)

ValueError: ignored

In [ ]:
lin_reg_model.fit(X_train,Y_train)

ValueError: ignored

In [ ]:
# prediction on Training data
training_data_prediction = lin_reg_model.p

In [ ]:
# R squared Error
error_score = metrics.r2_score(Y_train, training_data_prediction)
print("R squared Error : ", error_score)

In [ ]:
plt.scatter(Y_train, training_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title(" Actual Prices vs Predicted Prices")
plt.show()

In [ ]:
# prediction on Training data
test_data_prediction = lin_reg_model.predict(X_test)

In [ ]:
plt.scatter(Y_test, test_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title(" Actual Prices vs Predicted Prices")
plt.show()